<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>trang chủ CV</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
<!-- bootstrap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- style.css -->
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<style type="text/css" media="screen">
    
#header {
    background-image: url('img/bgkhd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
</style>
<body>
    <div class="background_body">
        <div class="background_body-img">
            <img src="img/bgk.jpg" alt="">
        </div>
        <div id="wapper">
         <div id="header">
        <div class="header-left">
            <div class="header-img">
                <img src="img/cv.jpg" alt="">
            </div>
            <div class="name">
                <h3 >NGUYỄN THỊ BÍCH NGỌC</h3>
                <p>Back End</p>
            </div>
        </div>
        <div class="header-right">
            <h3 >Contact Information</h3>
            <div class="row header-right-content">
                <div class="col-6">
                    <div class="row">
                        <div class="col-2"><i class="fa fa-birthday-cake"></i> </div>
                        <div class="col-10">10/12/199</div>

                        <div class="col-2"><i class="fa fa-phone" ></i> </div>
                        <div class="col-10">0764274584</div>

                        <div class="col-2"><i class="fa fa-map-marker" ></i></div>
                        <div class="col-10">Phú Hòa 1- Hòa Nhơn- Hòa Vang- Đà Nẵng</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-2"><i class="fa fa-user" ></i></div>
                        <div class="col-10">Nữ</div>

                        <div class="col-2"><i class="fa fa-envelope"></i> </div>
                        <div class="col-10">bichngoc10121999@gmail.com</div>

                        <div class="col-2"><i class="fa fa-link"></i></div>
                        <div class="col-10">https://www.facebook.com/profile.php?id=100006492519478</div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="main">
         <div id="left">
            <!-- mục tiêu -->
            <div class="muctieu mt-4">
                <h3>Objective</h3>
                <p class="font ">I wanna to apply for PHP developer at company where i and my colleagues can show our capacity for creating (building) the successful web system that make me gaining useful working experience together. Working enviroments can bring to me a some challanges and development opportunities that cultivate my knowledge to become a better programmer and a good manager (leader) of the company in the future.</p>
            </div>
            <!-- skills -->
            <div class="skills mt-5">
                <h3 >Skill</h3>
                <div class="row">
                    <div class="col-6">Office IT</div>
                    <div class="col-6" id="rounds">
                        <i class="fa fa-certificate"></i>
                        <i class="fa fa-certificate"></i>
                        <i class="fa fa-certificate "></i>
                        <i class="fa fa-certificate white"></i>
                        <i class="fa fa-certificate white"></i>
                    </div>
                    <div class="col-6">Can fix some errors of the computer</div>
                    <div class="col-6" id="rounds">
                        <i class="fa fa-certificate"></i>
                        <i class="fa fa-certificate"></i>
                        <i class="fa fa-certificate "></i>
                        <i class="fa fa-certificate white"></i>
                        <i class="fa fa-certificate white"></i>
                    </div>
                    <div class="col-6">English</div>
                    <div class="col-6" id="rounds">
                        <i class="fa fa-certificate"></i>
                        <i class="fa fa-certificate"></i>
                        <i class="fa fa-certificate white "></i>
                        <i class="fa fa-certificate white"></i>
                        <i class="fa fa-certificate white"></i>
                    </div>

                </div>
            </div>
            <!-- sở thích -->
            <div class="like mt-5">
                <h3>Interests</h3>
                 <div class="row">
                    <div class="col-5">Reading books</div>
                    <div class="col-7">Playing badminton</div>
                </div>
            </div>
             <!-- ưu điểm -->
            <div class="diem mt-5">
                <h3 >Additional Information</h3>
                <ul class="pl-4">
                    <li>Sociable, friendly with everyone</li>
                    <li>Diligent, ready for learning at work as well as in social life.</li>
                    <li>Having a sense of responsible for the job</li>
                    <li>Always complete all of the assignment</li>
                </ul>
            </div>

        </div>
    <div id="right">
        <!-- học vấn -->
        <div class="hocvan">
            <h3 >Educational Background</h3>
            <div class="cap1 mt-3">
                 <p ><b>Hoa Nhon 1st Primary School</b> (8/2005 > 8/2010)</p>
            </div>

           <div class="cap2 mt-4">
                <p ><b>Pham Van Dong Junior High School</b>(8/2010 > 8/2014) <br> <b>Junior High School</b> <br> Graduated</p>
           </div>
           
           <div class="cap3 mt-4">
               <p ><b>Ong Ich Khiem High School</b>(8/2014 > 8/2017) <br> <b>High School</b> <br> Graduated</p>
           </div>

           <div class="cap3 mt-4">
               <p ><b>Trường Đại Học Sư Phạm</b>(8/2017 > 8/2021) <br><b>Đại Học Sư Phạm</b> <br> Not Graduated</p>
           </div>
        </div>

        <!-- kinh nghiệm làm việc -->
        <div class="kinhnghiem mt-5">
            <h3 >Word Experience</h3>
            <p ><b>The University of Da Nang - University of Science and Education</b> (09/2018 – Now)<br><b>Majors : Information Technology Branch</b></p>
            <ul  class="pl-4" >
                <li>Programming basic web with html, css, javascript.</li>
                <li>Using github to manage source code.</li>
                <li>Using some of the property tools for program: visual studio code, sublime text.</li>
                <li>Having experience in website design by WordPress</li>
                <li>Broaden knowledge and have ability for working with PHP language, MySQL.</li>
                <li>Internship at the company NitroTeach Asia Inc.</li>
            </ul>
        </div>
        <!-- active -->
        <div class="active mt-5">
            <h3 >Activity</h3>
            <p ><b>Participating in enrollment at school </b>(October 2013> August 2014)<br> <b>Volunteers</b></p>
            <ul class="pl-4">
                <li>Having gather gifts and distributing them to homeless people.</li>
                <li>Sharing, encouraging them to overcome difficult times, help them have positive thoughts.</li>
            </ul>
        </div>
    </div>
    </div>
    </div>
</body>
</html>